body{
    margin: 30px;
} 

h1 {
    text-align: center;
    color:(221, 9, 9, 0.534);
    background-color: rgb(158, 76, 9);
    text-transform: uppercase;
    padding: 20px;
}
p {
    background-color: rgb(49, 39, 39);
    color: white;
    padding: 50px;
    text-align: justify;
    letter-spacing: 1px;
    line-height: 25px;
}
    
img{
    width: 100%;
    object-fit: cover;
    height: 365px;
    display: block;
    
}
span {
    color:rgb(224, 46, 15);
}
a{
    text-decoration: none;
    color: rgb(197, 8, 8);
    font-size: 20px;
    display: inline-block;
    background-color: darkgray;
    padding: 15px;
    text-transform: uppercase;
    letter-spacing: 3px;
    border-radius: 14px;
    
   
}

